.header-cover .navbar-dark .navbar-nav .nav-link {

  color: #fff;
  text-transform: uppercase;
  letter-spacing: 0px;
  padding: 7px 0px;
  font-weight: 600;
  font-size: 18px;
  margin-right: 37px;

}

.collapse.navbar-collapse {
  text-align: center;
}

.container {
  padding: 0;
}

.social-link-head a {
  background-color: #1c1f26;
  color: #bc9039 !important;
  display: inline-block;
  padding: 5px 10px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  font-size: 20px;
  margin: 24px 10px;
  border-radius: 50%;
}

.header-cover li.nav-item {
  margin: 0px 2px;
  border-radius: 3px;
}

ul.navbar-nav .nav-item.active {
  color: rgb(0, 0, 0) !important;
}

.bg-dark .navbar-toggler {
  float: right;
}

.bg-dark .container {
  float: left;
  width: 100%;
  display: block;
}

.header-cover .bg-dark {
  padding: 0px;
  margin-bottom: 5px !important;
  margin-top: -5px !important;
  background-color: transparent !important;
}


.logo-cover a img {
  display: block;
  margin: 0px auto;
}

.header-top-details {
  z-index: 99;
  overflow: hidden;
  background: rgb(255, 255, 255);
  box-shadow: rgba(210, 156, 74, 0.6) 0px 2px 5px;
}

.header-cover .nav-item.active a.nav-link {
  color: rgb(222, 178, 56) !important;
}

.header-cover .nav-item:hover,
.header-cover .nav-item:hover a.nav-link {
  color: #bc9039 !important;
  background: transparent;
}



/* marquee */

.header-top-marquee {
  background: rgb(0 0 0);
  color: #fff;
  font-weight: 500;
  line-height: normal;
  display: block;
  padding: 6px 0px;
  font-size: 20px;
}

footer marquee {
  font-size: 20px;
}

/* breadcrumb-section */
.breadcrumb-area {
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 0px;
  padding-top: 0px;
  position: relative;
  z-index: 1;
  background: linear-gradient(80deg, rgb(222, 178, 56) 0%, rgb(99, 127, 228) 46%, rgb(99, 127, 228) 63%, rgb(223, 179, 60) 100%)
}

.breadcrumb-area .breadcrumbs span {
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  line-height: 50px;
  text-transform: capitalize;
  text-align: center;
}

.bn {
  color: #222 !important;
}

.breadcrumb-area .breadcrumbs span {
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  line-height: 50px;
  text-transform: capitalize;
  text-align: center;
}

.ml {
  margin-left: 10px;
}

span.cont.ml a {
  color: #fff;
}


.main h4 {
  color: rgb(163, 163, 163);
  font-size: 18px;
  display: inline-block;
  margin: 0px;
  padding: 7px 0px;
}

.main p {
  display: inline-block;
  margin: 0px;
  color: rgb(255, 255, 255);
  font-size: 18px;
  font-weight: 500;
}

.main p a {
  color: #fff;
}

.main i {
  font-size: 17px;
  width: 35px;
  height: 35px;
  text-align: center;
  border: 1px solid rgb(85, 95, 104);
  margin-right: 5px;
  background: rgb(17, 21, 25);
  color: rgb(189, 187, 185);
  line-height: 32px;
  border-radius: 31px;
}

@media screen and (max-width:767px) {
  .collapse.navbar-collapse {
    display: none !important
  }

  .collapse.navbar-collapse.show {
    display: block !important
  }

  .header-cover .bg-dark {
    display: block;
    text-align: right;
  }
}